<div class="container">
  <div class="col left">
    <%= form_with scope: :remote, url: remotes_path do |f| %>
      <%= f.text_field :text, placeholder: "min length 3", :class => "input"%> 
      <%= f.submit 'Send', :style => "padding: 10px;" %>
   <% end %>    
  </div>

  <div class="col right"> 
    <%= @counter %> <%= @pluralize %>
    <hr>
    <% @remotes.each do |r| %>
    <h3> 
      <%= r.text %> 
        <span class="date"> <%= r.created_at %> </span>
    </h3> 
    <br>
    <% end %>
  </div>
</div>